<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration scan="false">
	<contextName>SherpaServer</contextName>

	<!-- Output File Location -->
	<property name="FILE_LOCATION" value="/opt/logs/SherpaServer" />

	<!-- Default Logger Pattern -->
	<property name="PATTERN_DEFAULT"
		value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] : [%contextName] : [%thread] : %-5level : [%logger.%method:%line] : %message%n%exception%n" />

	<!-- Console Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN_DEFAULT}</pattern>
		</encoder>
	</appender>

	<!-- File Appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>${FILE_LOCATION}/app.log</file>
		<encoder>
			<pattern>${PATTERN_DEFAULT}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOCATION}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- Spring Logger -->
	<logger name="org.springframework" level="error" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- Application Logger -->
	<logger name="com.sherpa" level="debug" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>